.filter-input-wrapper {
	will-change: height;
	overflow: hidden;
	transition: all ease-out 0.3s;
}
.filter-input-wrapper.hide-input {
	max-height: 0px;
	display: none;
	transition: max-height 0.25s ease-in-out;
}
.filter-input-wrapper.show-input {
	/* max-height: 200px; */

	transition: max-height 0.25s ease-in-out;
}
.msnry-grid-sizer,
.msnry-grid-item {
	float: left;
	width: 33.33333%;
	padding: 10px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
